:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primery-background-color: #FFFFFF;
}
.page {
    background-color: var(--primery-background-color);
    color: var(--primery-text-color);

    font-family: 'Roboto', sans-serif;
}

.logo {
    color: var(--accent-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-header {color: black;}

/* удалили точки списка */
ul {list-style: none;}

/* цвет навигации сайта */
.nav-site a {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-site a:hover,
.nav-site a:focus {
    color: var(--accent-text-color);
}

/* контакты хедер */
.contacts a {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts a:hover,
.contacts a:focus {
    color: var(--accent-text-color);
}

.nav-site .current {
    color: var(--accent-text-color);
}

/* первая секция с кнопкой */
.hero {
    background-color: #2F303A;
    }
.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;   
    }
.button {
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.button:hover {
    background-color: #188CE8;
}

/* вторая секция */
.title {
    color: var(--title-text-color);
}
.services .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.services .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.team {
    background-color: #F5F4FA;
}

.team-title, .job {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.workers .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
    }
    
.workers .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* футер */
.contacts .link-footer:hover,
.contacts .link-footer:focus {
    color: var(--accent-text-color);
}
.footer {
    background-color: #2F303A;
}
.logo-footer {
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.address {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-contacts .link-footer{
    /* font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em; */
    text-decoration: none;
}

.link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ПОРТФОЛИО */
.hidden {
    display: none;
}
.button-portfolio button{
    background-color: #F5F4FA;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    cursor: pointer;
}
.button-portfolio button:hover,
.button-portfolio button:focus {
    background-color: var(--accent-text-color);
    color: #FFFFFF;
}
.button-portfolio .current-button {
    background-color: var(--accent-text-color);
    color: #FFFFFF;
    font-family: 'Roboto';
}
.portfolio a {
    text-decoration: none;
    font-family: 'Roboto';
}

.portfolio .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* цвет основы текста #757575 */
/* цвет текста вторички #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет основа хедер #FFFFFF */
/* основа цвет фона #E5E5E5 */
/* цвет фона верхний #2F303A */
/* цвет фона наша команда #F5F4FA */